$primary-color: #333;
$secondary-color: #999;
$tertiary-color: #DDD;

body {
  background-color: $secondary-color;
  color: $primary-color;
  font-family: sans-serif;
  box-sizing: content-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    padding: 1rem;
    background-color: $tertiary-color;
  }
}
